<div class="password">
    <div (click)="goBack()" class="password__back">
        <i class="las la-arrow-left"></i>
    </div>
    <div class="password__title">Senha</div>
    
    <div class="password__image">
        <img [src]="'/assets/img/users/' + user.imgNome + '.jpg'" alt="">
    </div>
    
    <div class="password__text">Olá {{user.primeiroNome}}, para continuar você deve inserir sua senha.</div>
    
    <form #myform="ngForm" (ngSubmit)="doLogin(myform)" class="form form-register">
        <div class="password__inputs">
            <input type="number" (ngModelChange)="goToField(2)" name="number1" ngModel #number1>
            <input type="number" (ngModelChange)="goToField(3)" name="number2" ngModel #number2>
            <input type="number" (ngModelChange)="goToField(4)" name="number3" ngModel #number3>
            <input type="number" name="number4" ngModel #number4>
        </div>
        
        <div class="password__button">
            <button type="submit" class="password__button--inner">Entrar</button>
        </div>
    </form>
</div>