<div class="password">
    <div (click)="goBack()" class="password__back">
        <i class="las la-arrow-left"></i>
    </div>
    <div class="password__title">Senha</div>
    
    <div class="password__image">
        <img [src]="'/assets/img/usuarios/' + usuario.foto" alt="">
    </div>
     
    <div class="password__text">Olá {{usuario.primeiroNome}}, para continuar você deve inserir sua senha.</div>
    
    <form #myform="ngForm" (ngSubmit)="doLogin(number1.value + number2.value + number3.value + number4.value)" class="form form-register">
        <div class="password__error background-danger color-danger" *ngIf="!!error">
            {{error}}
        </div>
        <div class="password__inputs">
            <input type="number" (keyup)="keytab($event)" (focus)="clear(number1)" name="number1" ngModel #number1>
            <input type="number" (keyup)="keytab($event)" (focus)="clear(number2)" name="number2" ngModel #number2>
            <input type="number" (keyup)="keytab($event)" (focus)="clear(number3)" name="number3" ngModel #number3>
            <input type="number" (keyup)="doLogin(number1.value + number2.value + number3.value + number4.value, $event)" name="number4" ngModel #number4>
        </div>
        
        <div class="password__button">
            <button type="submit" class="password__button--inner">Entrar</button>
        </div>
    </form>
</div>