.password {
    padding: 0 40px;
    height: 100%;

    &__title {
        font-weight: 700;
        text-align: center;
        padding-top: 40px;
        font-size: 18px;
    }

    &__back {
        position: absolute;
        left: 10px;
        top: 10px;
        font-size: 27px;
    }

    &__image {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 10px;

        img {
            max-height: 100px;
            border-radius: 50%;
        }
    }

    &__text {
        text-align: center;
        font-size: 13px;
        color: #a1a5b7;
    }

    &__error {
        padding: 10px;
        margin-top: 10px;
        text-align: center;
        margin-bottom: 36px;
    }

    &__inputs {
        margin-top: 25px;
        display: flex;
        justify-content: center;

        input {
            height: 35px;
            border: 0;
            border-bottom: 3px solid #009ef7;
            font-size: 23px;
            outline: none;
            font-family: "Poppins";
            color: #616161;
            padding: 0 10px;
            width: 20px;
            margin-right: 10px;
            text-align: center;
        }
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
        input[type=number] {
          -moz-appearance: textfield;
        }
    }

    &__button {
        margin-top: 50px;
        display: flex;
        justify-content: center;

        &--inner {
            background-color: #009ef7;
            padding: 15px 50px;
            border-radius: 50px;
            color: #FFF;
            border: 0;
        }
    }
}