.header {
    height: 200px;
    background-color: #29539b;
    background-image: linear-gradient(315deg, #29539b 0%, #1e3b70 74%);

    &__user-container {
        padding-top: 45px;
        width: 85%;
        margin: auto;
        margin-bottom: 20px;
        display: flex;

        &--nome {
            color: #FFF;
            font-size: 21px;
            font-weight: 500;
        }
        &--data {
            font-size: 13px;
            color: #d8d8d8;
        }
        &--foto {
            img {
                max-width: 50px;
                border-radius: 50%;
                margin-right: 10px;
            }
        }
    }
}