.compras-list {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    &__valor {
        margin-left: auto;
        font-weight: 700;
    }
    &__logo {
        border-radius: 5px;
        width: 43px;
        overflow: hidden;
        margin-right: 10px;
        height: 43px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff5f8;
        border: 1px solid #f0d1d9;

        i {
            font-size: 30px;
            color: #f1416c;
        }
    }
    &__description {
        &--title {
            font-weight: 700;
        }
        &--payer {
            color: #afafaf;
            font-size: 14px;
        }
    }
}