.close {
    background-color: #FFF;
    font-size: 20px;
    border: 0;
    outline:0;
    cursor: pointer;
}
button, button:focus {
    outline:0;
}
.button-sim {
    background-color: #009ef7;
    padding: 10px 30px;
    color: #FFF;
    border: 0;
    cursor: pointer;
}
.button-nao {
    background-color: #FFF;
    padding: 10px 30px;
    color: #333;
    border: 1px solid #CCC;
    cursor: pointer;
}
.modal-footer{
    display: flex !important;
    justify-content: space-between !important;
}