<div>
    <div>
        <router-outlet></router-outlet>
    </div>
    <div class="nav">
        <div class="nav__link nav__link--active">
            <i class="nav__icon las la-home" aria-hidden="true"></i> 
            <span class="nav__text">Inicial</span>
        </div>
        <div class="nav__link">
            <i class="nav__icon las la-shopping-cart" aria-hidden="true"></i> 
            <span class="nav__text">Compras</span>
        </div>
        <div class="nav__link">
            <i class="nav__icon las la-list-alt" aria-hidden="true"></i> 
            <span class="nav__text">Lista</span>
        </div>
        <div class="nav__link">
            <i class="nav__icon las la-cog" aria-hidden="true"></i> 
            <span class="nav__text">Config</span>
        </div>
    </div>
</div>
