.btn-sair {
    color: #fff;
    border-color: #f1416c;
    background-color: #f1416c;
    padding: 10px 20px;
    margin-top: 20px;
    font-weight: 500;
    border-radius: 5px;
    text-align: center;
}
.title {
    font-weight: bold;
    font-size: 19px;
    margin-bottom: 10px;
    padding-top: 40px;
}
.configs {
    padding: 0 30px;
}