.login-body {
    margin: auto;
    background-color: #FFF;
    border-radius: 8px;
    width: 80%;
    padding: 25px;
    margin-top: 20px;
    max-width: 400px;
    min-height: 391px;
    position: relative;
}