<div (click)="goBackToUserSelect()"
     class="back">
    <i class="las la-arrow-left"
       aria-hidden="true"></i>
</div>

<div class="title">Senha</div>
<div class="image">
    <img [src]="'/assets/img/usuarios/' + selectedUser.foto"
         alt="">
</div>
<div class="text">Olá {{selectedUser.primeiroNome}}, para continuar você deve inserir sua senha.</div>

<form #myform="ngForm"
      class="form form-register">
    <div class="error background-danger color-danger"
         *ngIf="!!error">
        {{error}}
    </div>

    <div class="inputs">
        <input type="number"
               (keyup)="doLogin()"
               name="password"
               maxlength="4"
               [(ngModel)]="selectedUser.password"
               #passwordField />
    </div>

    <div class="button">
        <button type="button"
                class="button__inner">
            Entrar
        </button>
    </div>
</form>