<panel>
    <div class="title">Lista de Compras</div>

    <div class="input">
        <i class="las la-search input__icon"
           aria-hidden="true">
        </i>
        <input type="text"
               class="input__field"
               (keyup)="checkIfListaEmpty()"
               [(ngModel)]="filtro" />
    </div>

    <div class="lista">
        <div class="lista__item"
             *ngFor="let item of sortLista(lista) | filter: filtro; let last = last; let index = index">

            <div class="lista__item--container"
                 [class.last]="!!last"
                 (click)="toggleItem(item)">
                <div class="lista__item--checkbox">
                    <input type="checkbox"
                           [(ngModel)]="item.checado" />
                </div>
                <label class="lista__item--description">{{item.descricao}}</label>

                <i class="las la-trash excluir"
                   aria-hidden="true"
                   (click)="abreModalRemoveItem(item, index, $event)">
                </i>
            </div>
        </div>
    </div>
    <div class="no-records">
        <div *ngIf="showAddButton"
             class="no-records__title">Nenhum produto encontrado com esse nome.</div>
        <div (click)="addToList()"
             *ngIf="!!this.filtro"
             class="no-records__button">Deseja adicionar à lista?</div>
    </div>
    <div class="no-records"
         *ngIf="lista.length === 0 && lista.length === 0 && filtro.length === 0">
        <div class="no-records__title">
            Nenhum produto adicionado, adicione algum através do campo acima.
        </div>
    </div>
</panel>