.lista-compras {
    padding: 0 30px;
}
.input {
    position: relative;
    margin-bottom: 20px;

    &__field {
        width: calc(100% - 39px);
        height: 35px;
        border: 1px solid #efecec;
        background-color: #efecec;
        border-radius: 14px;
        font-size: 15px;
        padding-left: 39px;
        outline: none;
        font-family: "Poppins";
        color: #616161;
    }
    &__icon {
        position: absolute;
        font-size: 25px;
        top: 7px;
        left: 9px;
    }
}
.title {
    font-weight: bold;
    font-size: 19px;
    margin-bottom: 10px;
    padding-top: 40px;
}
.lista {
    overflow: hidden;
    position: relative;
    margin: 0 -20px;

    &__item {
        padding: 0;
        display: flex;
        position: relative;
        
        &--container {
            padding: 0 20px;
            background-color: #FFF;
            display: flex;
            position: relative;
            z-index: 3;
            width: 100%;
            height: 50px;
            align-items: center;
            border-bottom: 1px solid #d4d4d4;
        }

        &--container.transition {
            transition: all 0.5s ease 0s;
        }

        &--deletar {
            padding-left: 20px;
            color: #fff;
            border-color: #f1416c;
            background-color: #f1416c;
            position: absolute;
            top: 1px;
            left: 1px;
            z-index: 2;
            width: calc(100% - 22px);
            height: calc(100% - 2px);
            display: flex;
            align-items: center;

            i {
                font-size: 27px;
                margin-right: 10px;
            }
        }

        &--checkbox {
            display: flex;
            align-items: center;
            padding-left: 0;
            margin: 0;
            min-height: 1.5rem;
            margin-right: 10px;

            input {
                background-size: 60% 60%;
                height: 1.5rem;
                width: 1.5rem;
                border: 0;
                margin: 0;
                float: none;
                flex-shrink: 0;
                background-color: #d4d4d4;
                cursor: pointer;
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                border-radius: .45em;
                background-repeat: no-repeat;
                background-position: center;
                vertical-align: top;
                transition: background-color .15s ease-in-out,background-position .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
            }
            input:checked {
                background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 13 11' width='13' height='11' fill='none'%3e%3cpath d='M11.0426 1.02893C11.3258 0.695792 11.8254 0.655283 12.1585 0.938451C12.4917 1.22162 12.5322 1.72124 12.249 2.05437L5.51985 9.97104C5.23224 10.3094 4.72261 10.3451 4.3907 10.05L0.828197 6.88335C0.50141 6.59288 0.471975 6.09249 0.762452 5.7657C1.05293 5.43891 1.55332 5.40948 1.88011 5.69995L4.83765 8.32889L11.0426 1.02893Z' fill='%23FFFFFF'/%3e%3c/svg%3e");
                background-color: #009ef7;
                border-color: #009ef7;
            }
        }
        &--description {
            cursor: pointer;
            text-transform: capitalize;
        }
    }
    &__item.last {
        border-bottom: 0;
    }
}
.no-records {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    &__title {
        text-align: center;
        margin-top: 35px;
    }
    &__button {
        color: #fff;
        border-color: #009ef7;
        background-color: #009ef7;
        padding: 10px 20px;
        margin-top: 10px;
        font-weight: 500;
        border-radius: 5px;
    }
}