/* You can add global styles to this file, and also import other style files */
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    background-color: #F6F7FB;
    color: #616161;
}
@media (max-width: 700px) {
	body {
        margin: 0 0 55px 0;
	}
}