<div class="login-body">
    <div class="login-body__logo">
        <img src="/assets/img/logo.png" alt="logomarca">
    </div>
    <div class="login-body__welcome">
        <div class="login-body__welcome--title">Seja bem vindo(a)</div>
        <div class="login-body__welcome--subtitle">Escolha o seu usuário para continuar</div>
    </div>
    <div class="login-body__usuarios">
        <div *ngFor="let usuario of usuarios" class="login-body__usuarios--item" (click)="escolherUsuario(usuario)">
            <div class="login-body__usuarios--image">
                <img [src]="'/assets/img/usuarios/' + usuario.foto" alt="">
            </div>
            <div class="login-body__usuarios--name">{{usuario.nome}}</div>
        </div>
    </div>
</div>